<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>VacúnatePerú</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">
			{{> header }}
		<!-- Main -->
			<div id="main">
				<section class="wrapper style1">
				<div class="inner">
				
							<header class="align-center">
								<h2>¿ Quienes sómos ?</h2>
								<p>Somos un equipo multidisciplionario con objetivos en común </p>
							</header>

						<!-- 4 Column Video Section -->
							<div class="flex flex-4">
								<div class="video col">
									<div class="image fit">
										<img src="images/Luis.png" alt="" />
									</div>
									<h1 class="nombre"> Luis Espejo </h1>
									<p class="caption">
										Egresado de Ingeniería industrial con experiencia en mejora de procesos y planeamiento
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/Ester.jpg" alt="" />
									</div>
									<h1 class="nombre">Ester Torres</h1>
									<p class="caption">
										Egresada de Ingeniería Industrial con experiencia en gestión de proyectos
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/jimmy.jpg" alt="" />
									</div>
									<h1 class="nombre"> Jimmy Cainamarks </h1>
									<p class="caption">
										Lic Nutrición Humana, con experiencia en desarrollo e implementación de soluciones digitales en salud y deporte
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/Alex.jpg" alt="" />
									</div>
									<h1 class="nombre">Alex Yovera</h1>
									<p class="caption">
										Ingeniero de Sistemas de Información con experiencia en análisis de datos y desarrollo de soluciones BI
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
				</div>
				</section>
			</div>
		<!-- Footer -->
					{{> footer }}
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>