<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>VacúnatePerú</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

			{{> header }}

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" >
					<div class="inner">
						<header>
							<h1>Vacúnate Perú</h1>
							<p style="color: white;">Plataforma web de consulta, agendamiento y monitoreo clínico del ciudadano </p>
						</header>
						<a href="#main" class="button big alt scrolly">Ver más</a>
					</div>

				</section>

		<!-- Main -->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>¿ Cual es la problemática  ?</h2>
							<p>Se ha identificado problemas que aquejan a la ciudadania, estos estan relacionados a una falta de claridad en la información pública que y por lo tanto no se puden tomar las decisiones adecuadas </p>
						</header>
						<!-- 2 Column Video Section -->
							<div class="flex flex-2">
								<div class="video col">
									<div class="image fit">
										<img src="images/pic07.png" alt="" />
									</div>
									<p class="caption">
										El ciudadano sufre gran incertidumbre para accesos a servicios públicos de salud.
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/pic08.png" alt="" />
									</div>
									<p class="caption">
										Deficiente programación de vacunación
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			<!-- Two -->
				<section class="wrapper style2">
					<div class="inner">
						<header>
							<h2>Propuesta de Solución </h2>
							<p>Plataforma web para consultar, agendar y monitorear tu vacunacion</p>
						</header>
						<!-- Tabbed Video Section -->
							<div class="flex flex-tabs">
								<ul class="tab-list">
									<li><a href="#" data-tab="tab-1" class="active">Inscripción</a></li>
									<li><a href="#" data-tab="tab-2">Confirmación</a></li>
									<li><a href="#" data-tab="tab-3">Monitoreo</a></li>
								</ul>
								<div class="tabs">

									<!-- Tab 1 -->
										<div class="tab tab-1 flex flex active">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="images/inscripcion.png" alt="" />
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
										</div>

									<!-- Tab 2 -->
										<div class="tab tab-2 flex flex">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="images/confirmacion.png" alt="" />
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>

										</div>

									<!-- Tab 3 -->
										<div class="tab tab-3 flex flex">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="images/monitoreo.png" alt="" />
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
										</div>

								</div>
							</div>
					</div>
				</section>

			<!-- Three -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>¿Cuáles son las ventajas de la solución?</h2>
						
						</header>
						<!-- 2 Column Video Section -->
							<div class="flex flex-2">
								<div class="video col">
									<div class="image fit">
										<img src="images/confianza.png" alt="" />
									</div>
									<p class="caption">
										<h1> Confianza </h1>
										Elimina la incertidumbre del ciudadano respecto a su participación el proceso de la vacunación.
									</p>
								
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/eficacia.png" alt="" />
									</div>
									<p class="caption">
										<h1> Eficaia </h1> Resolviendo el agendamiento y la transparencia incrementará  la velocidad de alcance y participación.
									</p>
								
								</div>

							</div>
					</div>
				</section>

			</div>
		
			{{> footer }}

					<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>